sftp-read-file-pattern.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="cbfdbcba-c180-4eda-bde2-e749f34c8195" >
		<http:listener-connection host="localhost" port="9081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="c9cd6765-4822-48d2-8992-f080e75c0387" >
		<file:connection workingDir="c:\" />
	</file:config>
	<file:matcher name="Matcher" doc:name="Matcher" doc:id="96e005de-4652-4ff6-923b-1a314a62c253" filenamePattern="#['*_' ++ now() as String {format: &quot;ddMMYYYY&quot;} ++ '.txt']" />
	<flow name="sftp-read-flow" doc:id="32173331-44ed-4e0b-8403-d9c7d3dd997d" >
		<http:listener doc:name="Listener" doc:id="5fcea372-e976-45d2-9a4d-0ae9c6c8894c" config-ref="HTTP_Listener_config" path="/sftplistener"/>
		<file:list doc:name="List" doc:id="ac404ec7-e7f6-49b1-b8ae-2fa292bdbcb0" config-ref="File_Config" directoryPath="sample" matcher="Matcher"/>
		<foreach doc:name="For Each" doc:id="26ede204-e653-4c6d-801f-5f2d7814fca3" >
			<logger level="INFO" doc:name="Logger" doc:id="d3a5f5ca-db87-4642-8e6b-7f6f230cb7af" message="list value - #[attributes.fileName]" />
		</foreach>
	</flow>
	
</mule>
